@font-face {
  font-family: 'PingFangSC';
  src: url('font/pingfangsc-regular.otf') format('opentype');
  font-weight: normal;
  /* Regular weight */
}

@font-face {
  font-family: 'PingFangSC';
  src: url('font/pingfangsc-medium.otf') format('opentype');
  font-weight: 500;
  /* Medium weight */
}

@font-face {
  font-family: 'PingFangSC';
  src: url('font/pingfangsc-semibold.otf') format('opentype');
  font-weight: 600;
  /* Semibold weight */
}

body {
  font-family: 'PingFangSC', sans-serif;
  /* Use regular weight for the whole page */
  font-weight: normal;
  /* Regular weight for the entire page */
}

.PF-sm {
  font-family: 'PingFangSC', sans-serif;
  /* Use custom font */
  font-weight: 600;
  /* Set to semibold for this class */
}

.PF-r {
  font-family: 'PingFangSC', sans-serif;
  /* Use custom font */
  font-weight: normal;
  /* Set to semibold for this class */
}

.PF-m {
  font-family: 'PingFangSC', sans-serif;
  /* Use custom font */
  font-weight: 500;
  /* Set to semibold for this class */
}


/* 弹窗布局 */
.modal {
  display: none;
  /* 默认隐藏 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  /* 背景置灰 */
  justify-content: center;
  align-items: flex-start;
  /* 顶部对齐 */
  z-index: 50;
  /* 确保在最上层 */
  overflow-y: auto;
  /* 允许垂直滚动 */
  padding-top: 96px;
  /* 顶部留出400px间隙 */
  padding-bottom: 128px;
  /* 顶部留出400px间隙 */
}

.modal.active {
  display: flex;
  /* 显示模态框 */
}

.modal img { /* 只改变modal下的img */
  width: 68%;
  /* 确保图片不溢出 */
  height: auto;
  /* 使图片按比例缩放 */
  margin: 0 auto;
  /* 图片居中 */
}

.colorful_title {
  width: 960px;
  background: linear-gradient(270deg, #ff2e2e, #f84da7 20%, #d675f7 40%, #a09eff 60%, #56c4ff 80%, #00e1ff);
  -webkit-background-clip: text; /* Safari and older Chrome */
  background-clip: text; /* Standard property for other browsers */
  -webkit-text-fill-color: transparent;
}
